extends layout

block content
  ul
    for category in categories
      li= category['category']
        ul
          li= category['name']

  form(action="", method="post")
    label(for="")
    input(type="text") 